<launch>
    <arg name="veh"/>

    <include file="$(find duckiepond)/launch/joystick.launch">
        <arg name="veh" value="$(arg veh)" />
    </include>

    <include file="$(find duckiepond)/launch/sensor.launch">
        <arg name="veh" value="$(arg veh)" />
    </include>
    
    <include file="$(find duckiepond)/launch/localization_gps_imu.launch">
        <arg name="veh" value="$(arg veh)" />
    </include>
    
</launch>